* {
  box-sizing: border-box;
}

.firstblock {
  margin: -8px;
  background-color: rgb(25, 77, 90);
  padding: 20px;
}

.content_firstblock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.block_title-list {
  display: flex;
  flex-direction: column;
}
.block_title-list .title {
  font-family: "Comfortaa";
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 35px;
}

.list li {
  color: rgb(255, 255, 255);
  font-family: "Comfortaa";
  list-style-type: none;
  padding-bottom: 10px;
}
.list li:last-child {
  padding-bottom: none;
}
.list li::before {
  content: url(/icon.png);
}

.block_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.block_img img {
  border-radius: 10px;
}

.secondblock {
  margin: 30px -8px 0px -8px;
}

.content_secondblock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.block_img img {
  border-radius: 10px;
}

.title-p_block {
  font-family: "Comfortaa";
  color: rgb(25, 71, 91);
}

.thirdblock {
  margin: 60px 0px 0px 0px;
}

.title_thirsblock {
  margin: auto 0px;
  text-align: center;
  font-family: "Comfortaa";
}

.content_thirdblock {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box1, .box2, .box3, .box4 {
  width: 700px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.box1 .content_box, .box2 .content_box, .box3 .content_box, .box4 .content_box {
  font-family: "Comfortaa";
  margin: -10px 0px 10px 10px;
}
.box1 .content_box h1, .box2 .content_box h1, .box3 .content_box h1, .box4 .content_box h1 {
  text-align: center;
  font-size: 25px;
}

.box1_img img, .box2_img img, .box3_img img, .box4_img img {
  border-radius: 0px;
}

.fourthblock {
  margin-top: 100px;
}

.titlefourth_block {
  text-align: center;
  font-family: "Comfortaa";
  color: rgb(28, 68, 89);
  font-size: 30px;
  padding-bottom: 50px;
}

.content_fourthblock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column1, .column2, .column3 {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: rgb(28, 68, 89);
}

.title_column1, .title_column2, .title_column3 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Comfortaa";
  font-size: 30px;
  margin: 30px;
}

.card_column1, .card_column2, .card_column3 {
  color: rgb(33, 92, 92);
  text-align: center;
  margin: 3px;
  background-color: white;
  font-family: "Comfortaa";
}

.content_column1, .content_column2, .content_column3 {
  color: white;
  font-family: "Comfortaa";
  margin: 3px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.button1, .button2, .button3 {
  margin: 0px auto;
  height: 60px;
  border-radius: 10px;
  border: none;
  width: 150px;
  font-family: "Comfortaa";
}
.button1:hover, .button2:hover, .button3:hover {
  box-shadow: 0px 0px 100px 20px rgb(132, 90, 175);
  color: rgb(132, 90, 175);
}

.block_forw1, .block_forw2, .block_forw3 {
  margin: 0px auto;
  padding-bottom: 20px;
}

footer {
  width: 100%;
  margin: 0px -8px 0px -8px;
  text-align: center;
  font-family: "Comfortaa";
  color: gray;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */